body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

i:hover {
  color: #FF4C68;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: 700;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.btn-position {
  margin: 5%;
}

.center {
  margin: 100px 0;
  text-align: center;
}

.icon {
  font-size: 300%;
  color: #EF8172;
}

.h3-font-style {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 20px;
}

.p-font-style {
  color: #8F8F8F;
}

.one-line {
  white-space: nowrap;
}

/* title section */
#title {
  background-color: #ff4c68;
  color: white;

}

.img-title {
  width: 60%;
  transform: rotate(30deg);
  position: absolute;
}

#testimonials {
  padding: 7% 15%;
  background-color: #ef8172;
  color: white;
  text-align: center;
}

#features {
  position: relative;
  background-color: white;

}

#press {
  padding: 5% 5%;
  background-color: #ef8172;
  text-align: center;
}

.img-testimonials {
  border-radius: 100%;
  width: 10%;
}

.logo-press {
  background-color: #ef8172;
  width: 20%;
  padding: 3%;
}

.cta-h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
  margin-top: 40px;
}

#cta {
  background-color: #ff4c68;
  color: white;

}

footer {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  margin: 5px 0;
  text-align: center;
}

.footer-icon {
  margin : 1.5%;
}

@media screen (max_width: 500px) {
  .img-title {
    width: 10%;
    transform: rotate(0deg);
    position: static;
  }

  #title {
    text-align: left;
  }
}
